/**=====================================
TITLE ANIMATION
=====================================**/
.section-title-outer {margin-bottom: 30px;}
.title-section{font-weight:400; color: var(--color-primary);margin-bottom: 15px;} 
.section-title-outer p {font-size: var(--text-intro);}
.section-title-outer-center {text-align: center;}
.section-title-outer-start {text-align: start;}
.intro-outer-wrapper p {font-size: var(--text-intro);}


/**=====================================
INNER BANNER CSS
=====================================**/
.into-section-center-wrapper {display: flex; justify-content: center;}
.into-section-center-wrapper p {font-size: var(--text-intro); color: var(--color-text);}
